sudo: false
language: cpp
compiler:
  - gcc
  - clang
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-precise-3.5
    - george-edison55-precise-backports
    # ^ for cmake
    packages:
    - gcc-4.9
    - g++-4.9
    - clang-3.5
    - gettext
    - gdb
    - cmake-data
    - cmake
install:
# set CXX variable
  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.9"; fi
  - if [ "$CXX" = "clang++" ]; then export CXX="clang++-3.5"; fi
# Install Boost headers
  - pwd
  - DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
  - mkdir ${DEPS_DIR} && cd ${DEPS_DIR}

  - BOOST_VER_NUM=57
  - BOOST_VER_STRING=1.${BOOST_VER_NUM}.0
  - BOOST_TAR_NAME=boost_1_${BOOST_VER_NUM}_0.tar.gz

  - BOOST_URL="http://sourceforge.net/projects/boost/files/boost/${BOOST_VER_STRING}/${BOOST_TAR_NAME}"
  - mkdir boost && travis_retry wget ${BOOST_URL}
  - tar --strip-components=1 -xzf ${BOOST_TAR_NAME}

  - cd ..

  - pwd
  - if [[ -d ${DEPS_DIR}/boost ]]; then echo "Have boost"; else echo "No boost (?)"; fi

  - CMAKE_OPTIONS+=" -DBOOST_ROOT=${DEPS_DIR}/boost"; fi
script:
  - $CXX --version
  - pwd

  - echo "Unit Tests"
  - cd test && ./test.sh BOOST_DIR=${DEPS_DIR}/boost

  - echo "Libintl Validation Tests"
  - cd ../test_libintl && ./test.sh

  - echo "SPIRIT_PO_NOEXCEPT build"
  - ./test.sh -DNOEXCEPT=1

  - echo "SPIRIT_PO_DEBUG build"
  - ./test.sh -DDEBUG=1

  - echo "SPIRIT_PO_NOEXCEPT + SPIRIT_PO_DEBUG build"
  - ./test.sh -DNOEXCEPT=1 -DDEBUG=1
